.buttonContainer {
	border: 1px solid;
	border-radius: 25px;

	padding: 0.5rem 1rem;

	color: white;

	transition: 0.2s;
}

.buttonContainer:hover {
	cursor: pointer;

	background-color: transparent !important;
	color: black;
}
