.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border-radius: 10px;
	width: 80%;
	height: 80%;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-close-button {
	color: var(--onyx);
}

.modal-close-button :hover {
	cursor: pointer;
	color: var(--coral);
}

.modal-main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	height: 80%;
}

.animation-container {
	width: 40%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1280px) {
	.modal-main {
		gap: 5rem;
	}
}

/* TODO: update these values with a variable */
@media screen and (max-width: 600px) {
	.modal-main {
		gap: 2rem;
		flex-direction: column;
		overflow: auto;
	}
}
